# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Next.js
.next/
out/

# Production builds
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# Vercel local settings
.vercel/

# Editor
.DS_Store
.idea/
.vscode/
